.home{
    background-image: url('/images/portfolio.jpg');    
    background-size: cover; /* Ajusta la imagen para que cubra */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    height: 100vh; 
    display: flex;
    min-height: 30rem;
    flex-direction: row;
}

.home img{
    height: 15rem;
    width: 15rem;
    border-radius: 100% ;
    margin-left: 25%;
    margin-top: 10%;
}

.home div{
    padding-left:10%;
    padding-top: 10%;
    min-width: 25rem;
}
.home div h1{
    padding-top: 10%;
    color: white;
}

.home div h2{
    margin-top: 5rem;
    margin-left: 2rem;
    color: white;
}